@import '../../static/scss/utils/fontUtils';

.sub-header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  background: #ECEFF1;
  padding: 0 20px;
}

.sub-header__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #333;
  @include font-size(20px);
  font-weight: 100;
}

.sub-header__form {
  display: flex;
  justify-content: center;
  flex-direction: column;

  select {
    width: 300px;
    padding: 5px;
    appearance: none;
    border-radius: 0;
    border: 0;
    margin-left: 10px;
    margin-right: 10px;
    @include font-size(20px);
    font-weight: 200;
  }

  button {
    width: 150px;
    padding: 5px;
    border: 0;
    background-color: #CFD8DC; 
    @include font-size(20px);
    font-weight: 200;
    &:hover {
      background-color: #B0BEC5;
    }
  }
}

